<form>
    <table>
        <tr>
            <td>User Name </td><td> <input type="text" name="fid" ngModel required maxlength="10" > </td>
        </tr>
        <tr>
            <td>Create New Password</td><td> <input type="text" name="fname" ngModel required maxlength="20"> </td>
        </tr>
        <tr>
            <td> Password</td><td> <input type="text" name="fname" ngModel required maxlength="20"> </td>
        </tr>
        <tr>
            <td>Confirm Password</td><td> <input type="text" name="fname" ngModel required maxlength="20"> </td>
        </tr>
        <tr>
            <td> <input type="submit" value="submit"> </td>  
        </tr>
        </table>
        </form>
